<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <style>
        .images {
            height: 300px;

        }
        .w_images {
            height: 40px;
        }
    </style>
    <title>RPG-CharCreator</title>
</head>

<body class="m-5">
    <header>
        <div class="alert alert-primary d-flex justify-content-center" role="alert">
            <h1>RPG CHARACTER CREATOR</h1>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <a href="{% url 'weapon_list' %}">
                <button type="button" class="btn btn-warning me-1">
                    IR A LA LISTA DE ARMAS
                </button>
            </a>
            <div class="d-flex justify-content-end align-items-center">
            <a href="{% url 'weapon_create' %}">
                <button type="button" class="btn btn-success me-1">
                    CREAR ARMA
                </button>
            </a>
            <a href="{% url 'character_create' %}">
                <button type="button" class="btn btn-success me-1">
                    CREAR PERSONAJE
                </button>
            </a>
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Cerrar sesión</button>
                </form>
            {% else %}
                <p class="text-end"><a href="{% url 'login' %}">Iniciar sesión</a> | <a href="{% url 'register' %}">Registrarse</a></p>
            {% endif %}

        </div>
        </div>
    </header>

    <div class="container mt-5">
        <div class="row justify-content-center align-items-center g-2">
            {% for i in Characters %}
<div class="col-12">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                {% if i.character_image %}
                    <img src="{{ i.character_image.url }}" class="img-fluid rounded-start images" alt="Imagen del personaje">
                {% else %}
                    <img src="{% static 'default.jpg' %}" class="img-fluid rounded-start images" alt="Sin imagen">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <p class="card-text">
                        <strong>Edad:</strong> {{ i.age }} 
                        <strong>Raza:</strong> {{ i.breed }} 
                        <strong>Nivel:</strong> {{ i.level }}
                    </p>
                    <p class="card-text">
                        <strong>Arma equipada:</strong> 
                        {% if i.weapon %}
                            {{ i.weapon }}
                            {% if i.weapon.weapon_image %}
                                <img src="{{ i.weapon.weapon_image.url }}" class="img-fluid rounded-start images w_images" alt="Imagen del arma">
                            {% endif %}
                        {% else %}
                            Ninguna
                        {% endif %}
                    </p>
                    <p class="card-text"><strong>Historia:</strong><br>{{ i.backstory }}</p>
                    <p class="card-text">
                        <small class="d-flex justify-content-end">
                            <a href="/characters/{{ i.id }}">Ver más información del personaje</a>
                        </small>
                    </p>

                    {% if user == i.user %}
                            <form method="post" action="{% url 'delete_character' i.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger mt-2">Eliminar</button>
                            </form>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}


        </div>
    </div>


    <footer>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
    </footer>
</body>

</html>